body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(2, 12, 47, 0.874);
}

.calculator {
  padding: 10px;
  border: 10px;
  border-radius: 10px;
  background-color: rgb(11, 39, 39);
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

form {

  margin: 4px;
}

input {
  outline: none;
  padding: 10px;
  margin-bottom: 5px;
  height: 50px;
  border: none;
  border-radius: 10px;
  width: auto;
  align-items: center;
  font-size: large;
}

button {
  margin: 4px;
  border: none;
  background-color: rgb(96, 89, 73);
  border-radius: 10px;
  font-size: 25px;
  color: antiquewhite;
}

button:hover {
  margin: 2px;
  background-color: aqua;
  border: 5px;
}

.clear {
  grid-column: 1/3;
}





.equals {
  grid-column: 3/5;
  grid-row: 5;
}